@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster&display=swap');
*{
    font-family: 'Amaranth', sans-serif;
}
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.item{
}
.item:hover{
    transform : scale(1.1);
    transition: 0.2s;
}
.transparent{
    background: rgba(0,0,0,0.5); 
}
textarea{
    min-height: 8em;
}
.boxCard{
    width: 11em;
}