@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
*{
    font-family: 'Amaranth', sans-serif;
}
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nameTitle{
    font-family: 'Finger Paint', cursive;
}
.item{
}
.item:hover{
    transform : scale(1.08);
    transition: 0.5s;
}
.transparent{
    background: rgba(0,0,0,0.5); 
}
textarea{
    min-height: 8em;
}
.logoSize{
    width: 50vw;
}
@media (min-width:768px){
    .formSize{
        width: 50vw;
    }
    .logoSize{
        width: 25vw;
    }
}
