body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
}

.item{
    transition: 0.2s;
}
.item:hover{
    transform : scale(1.1);
}

.infoHome{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    color: white; */
}
.logo img{
    width: 12em;
}
.infoAdress h3{
    /* margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center; */
}